<div class="mb-4">
  <div class="border-bottom">
    <h4 class="text-muted">Bookings ( <%= @bookings.count %> )</h4>
  </div>
    <div class="d-flex flex-column justify-content-end mt-3">
      <% if @bookings.count == 0 %>
          <p class="text-muted">You currently have no bookings, time for a new encounter?</p>
        <% else %>

      <% @bookings.each do |booking| %>
          <div class="card-dash mb-3 d-flex justify-content-between">
            <div class="d-flex">
              <%= link_to experience_path(booking.experience), class:'text-decoration-none' do %>
                <div class="card-dash-image">
                  <%= cl_image_tag booking.experience.photos.first.key, height: 100, width: 200, crop: :fill, gravity: :face %>
                </div >
              <% end %>

              <div class="d-flex flex-column p-3">
                <div class="d-flex flex-row">
                  <h6 class="mr-4"> <%= booking.experience.title %> </h6>
                  <p><i class="fas fa-euro-sign fa-lg mr-1"></i><%= booking.experience.price %> / person </p>
                </div>
                <div class="d-flex flex-row">
                  <p class="mr-4"> <%= booking.date.to_formatted_s(:short) %> 2021 </p>
                  <p class="mr-4">20:00 <%= booking.experience.duration %> hours</p>
                  <p class="text-warning mr-4">Pending... <small><em class="text-muted">booked <%= distance_of_time_in_words_to_now(booking.created_at) %> ago</em></small></p>
                </div>
                <div>
                </div>
              </div>
            </div>
            <div class="card-dash-edit d-flex justify-content-center align-items-center">
              <%= link_to booking_path(booking), method: :delete, data: { confirm: "Are you sure you want to remove booking #{booking.experience.title}"}, class: 'text-danger' do %>
                <h5> <i class="far fa-trash-alt ml-4 mr-4"></i> </h5>
              <% end %>
            </div>
          </div>
        <% end %>

      <% end %>
    </div>
</div>
