<div class="mb-4">
  <div class="border-bottom">
    <h4 class="text-muted">Encounters ( <%= @experiences.count %> )</h4>
  </div>
    <div class="d-flex flex-column justify-content-end mt-3">
      <% @experiences.each do |experience| %>

        <div class="card-dash mb-3 d-flex">
          <div class="card-dash-image">
            <%= cl_image_tag experience.photos.first.key, height: 100, width: 200, crop: :fill, gravity: :face %>
          </div>
          <div class="d-flex">

            <div class="card-dash-info d-flex flex-column p-3">
              <div>
                <h6> <%= experience.title %> </h6>
              </div>
              <div>
                <p><i class="fas fa-euro-sign fa-lg mr-1"></i><%= experience.price %> / person </p>
              </div>
            </div>

            <div class="card-dash-edit d-flex justify-content-center align-items-center">
              <%= link_to experience_path(experience) do %>
                <h5><i class="far fa-edit text-dark"></i></h5>
              <% end %>
            </div>

          </div>
        </div>
      <% end %>
    </div>
</div>
