<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <%# <h3>Create a new list</h3> %>
        <%= simple_form_for [@user, @experience] do |f| %>
          <div class="form-group">
            <%= f.input :title, placeholder: 'Title' %>
            <%= f.text_field :description, placeholder: 'What kind of activity?:)' %>
            <%= f.input :location, placeholder: 'Japan, Osaka' %>
            <%= f.input :duration, as: :select, collection: (1..10), required: true, prompt: "How long? in hour" %>
            <%= f.input :price, placeholder: '30 Euro' %>
            <%= f.input :photo, as: :file %>
          </div>
          <div class="mt-3">
            <%= f.submit class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>