<%= simple_form_for [@user, @experience], html: {class: 'form'} do |f| %>
  <div class="form-group">
    <%= f.label :title, 'Title:' %>
    <%= f.input :title, placeholder: 'Title', label: false %>
    <%= f.label :title, 'Description:' %>
    <%= f.input :description, as: :text, :input_html => { class: 'test', :cols => 5, :rows => 10 }, placeholder: 'What kind of activity?:)', label: false%>
    <%= f.label :title, 'Where?' %>
    <%= f.input :location, placeholder: 'Japan, Osaka', label: false %>
    <%= f.label :title, 'How Long?' %>
    <%= f.input :duration, as: :select, collection: (1..10), required: true, prompt: "in hour", label: false %>
    <%= f.label :title, 'How much?' %>
    <%= f.input :price, placeholder: '30 Euro', label: false %>
    <%= f.label :title, 'Some pictures might be nice:)'%>
    <div id="photos" class="mb-3"></div>
    <%= f.input :photos, as: :file, input_html: { multiple: true, class: 'd-none hidden', id: 'photos-input'}, label_html: { class: 'upload-photo'}, label: '📷 Upload photos'  %>
    <%= image_tag "", width: 300, class: "hidden", id: "photos-preview" %>
  </div>
  <div class="mt-3">
    <%= f.submit class: 'btn btn-flat' %>
  </div>
<% end %>
