<hr class='my-5'>
  <h3>Reviews</h3>
  <div class="container py-5">
    <div class="row">
      <div class="col-xs-4">
        <div>
          <%= simple_form_for [@experience, @review] do |f| %>
            <div>
              <%= f.input :name, label: "Your name:" %>
              <%= f.input :comment, label: "Enter comment:" %>
              <%= f.input :rating, collection: (1..5).to_a, label: "Your rating:" %>
              <%= f.submit "Submit review" , class: 'btn btn-flat' %>
            </div>
          <% end %>
      </div>
        <div id="review" class="mt-4">
          <% if @experience.reviews.blank? %>
          Be the first to leave a review for <%= @experience.title %>
        <% else %>
          <% @experience.reviews.each do |review| %>
            <p>Comment by <%= review.name %></p>
            <% review.rating.to_i.times do %>
              <i class="fas fa-star star-yellow"></i>
            <% end %>
            <p><%= review.comment %></p>
            <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
          <% end %>
        <% end %>
        </div>

        </div>


    </div>
  </div>
