<h1><%= @experience.title %></h1>
<%= link_to "Book now!", new_experience_booking_path(@experience) %>

<div class="row my-2">
      <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
        <div class="bg-white rounded shadow h-100">
        <% if @experience.photo.attached? %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <%= cl_image_tag("vhdtrwmulsvwsvrhkatw", width: 400, height: 300, crop: :fill) %>
        <% end %>
          <div class="p-3 rounded-bottom d-flex flex-column">
            <strong><%= @experience.title %> <span class="text-muted font-weight-normal"><i class="fas fa-star star-yellow"></i></span></strong>
            <small class="text-muted"><%= @experience.description %></small>
            <div class="d-flex align-items-end justify-content-between pt-4">
              <div>
                <i class="fas fa-quote-left mr-2"></i><small class="flex-grow-1"><%= @experience.price %></small>
              </div>
              <small class="text-right flex-shrink-0"><%= link_to 'delete', experience_path(@experience), method: :delete, data: { confirm: "Are you sure you want to remove #{@experience.title}"}, class: 'text-danger' %></small>
            </div>
          </div>
        </div>
      </div>
  </div>