<div class="container">

  <%= link_to "All experiences", root_path %>

  <hr>

  <%# title %>
  <div>
    <div class="">
      <span class="badge badge-light p-2">ONLINE</span>
    </div>
    <div class="mt-1">
      <h1><%= @experience.title %></h1>
      <i class="far fa-compass fa-lg mr-2 mb-4"></i><span><%= @experience.location %></span>
    </div>
  </div>

  <%# experience images (left column) & map (right column) %>
  <div class="row">
    <div class="col">

      <div class="card-show d-flex">
        <div class="show-one">
          <%= cl_image_tag @experience.photos.first.key, height: 400, width: 300, crop: :fill %>
        </div>
        <div class="">
          <div class="show-two">
            <%= cl_image_tag @experience.photos.second.key, height: 198, width: 300, crop: :fill, gravity: :face %>
          </div>
          <div class="show-three">
            <%= cl_image_tag @experience.photos.last.key, height: 198, width: 300, crop: :fill, gravity: :face %>
          </div>
        </div>
      </div>

    </div>

    <div class="col">
      <div>
        <%# Map %>
        <div id="map", class="card-show-map mt-1"
        style="width: 300; height: 400px;"
        data-marker="<%= @marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        <%# <div class="map" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=<%= @experience.location&zoom=13&scale=2&size=1000x1000&maptype=roadmap&markers=color:red%7C<%= @experience.location&key=AIzaSyBtaHK-BLhBg7TruJu8iKk_wETqZMJM-GY')"></div> %>
      </div>
    </div>
  </div>


  <div class="row">
    <%# page left side %>
    <div class="col-8">
      <div class="mt-4">
        <h4>What you'll encounter...</h4>
        <p><%= @experience.description %></p>
      </div>

  </div>

      <%# booking part %>
      <div class="col-4">
        <%= render 'booking' %>
      </div>
  </div>

  <%# review part %>
      <div>
        <%= render 'show_reviews' %>
      </div>
</div>
