<div class="container">
  <%= link_to "All experiences", root_path %>
  <hr>
  <%# title %>
  <h1><%= @experience.title %></h1>
  <%# experience images %>
  <% if @experience.photos.attached? %>
      <% @experience.photos.each do |photo| %>
        <div class="map" style="background-image: url('<%= cl_image_path photo.key %>')">
      <% end %>
      <% else %>
        <div class="map" style="background-image: url('<%= cl_image_path("vhdtrwmulsvwsvrhkatw")%>')">
  <% end %>
</div>
<%# page left side %>
<div class="row">
  <div class="col-8">
    <%# experience title %>
    <div class="experience-card-booking">
      <div class="flex">
          <div class="flex">
            <i class="far fa-compass fa-lg"></i><span><%= @experience.location %></span>
          </div>
          <br>
          <div class="flex ml-3">
            <i class="far fa-clock fa-lg"></i><span><%= @experience.duration %>h </span>
          </div>
          <br>
          <div class="flex ml-3">
            <%= @experience.price %><i class="fas fa-euro-sign fa-lg"></i>
          </div>
        </div>
    </div>
    <div class="experience-card-booking">
      <h4>What you'll encounter...</h4>
      <p><%= @experience.description %></p>
      <%# <div class="map" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=<%= @experience.location&zoom=13&scale=2&size=1000x1000&maptype=roadmap&markers=color:red%7C<%= @flat.address&key=AIzaSyBtaHK-BLhBg7TruJu8iKk_wETqZMJM-GY')"></div> %> 
    </div>

    <%# review part %>
    <hr class='my-5'>
      <h3>Reviews</h3>
      <div class="container py-5">
        <div class="row">
          <div class="col-xs-4>
            <%= simple_form_for [@experience, @review] do |f| %>
              <%= f.input :name, label: "Your name:" %>
              <%= f.input :comment, label: "Enter comment:" %>
              <%= f.input :rating, collection: (1..5).to_a,label: "Your rating:" %>
              <%= f.submit "Submit review" %>
            <% end %>
          </div>
        </div>
      </div>

    <%# if @experience.reviews.empty? %>
        <small><em class="text-muted">Be the first one to review this list</em></small>
      <%# end %>
      <%# @experience.reviews.each do |review| %>
        <div>
          <%# review.rating.times do %>
            <i class="fas fa-star star-yellow"></i>
          <%# end %>
          <small><em class="text-muted"><%#= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
          <p class="mb-0"><%#= review.comment %></p>
        </div>
        <hr>
      <%# end %>
      <%#= simple_form_for [@experience, @review] do |f| %>
        <%#= f.input :comment, placeholder: 'Add your review here...' %>
        <%#= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "What's your rating", input_html: { id: 'review_rating' } %>
        <%#= f.submit class:'btn btn-flat' %>
      <%# end %>
    <%# booking part %>
    <div class="col-4">
      <div class="experience-card-booking">
        <h5>Choose a date!</h5>
          <%= simple_form_for [@user, @experience, @booking] do |f| %>
          <div class="form-group">
            <%= f.input :date, as: :string, placeholder: 'May 7, 2021', required: false, input_html: {class: "datepicker"}, label: false %>
          </div>
          <div class="flex mt-3">
            <%= f.submit class: 'btn btn-flat' %>
          </div>
        <% end %>
      </div>
    </div>
</div>

<%# just for links memo %>
<div class='border-top'>
<%# delete %>
<p>as Host</p>
<% if policy(@experience).edit? %>
  <%= link_to 'delete', experience_path(@experience), method: :delete, data: { confirm: "Are you sure you want to remove #{@experience.title}"}, class: 'text-danger' %></small>
<% end %>
<%# edit %>
<% if policy(@experience).edit? %>
    <%= link_to "Edit", edit_experience_path(@experience) %>
<% end %>

</div>

</div>
