<div class="container">

  <%= link_to "All experiences", root_path %>

  <hr>

  <%# title %>
  <div>
    <div class="">
      <span class="badge badge-light p-2">ONLINE</span>
    </div>
    <div class="mt-1">
      <h1><%= @experience.title %></h1>
      <i class="far fa-compass fa-lg mr-2 mb-4"></i><span><%= @experience.location %></span>
    </div>
  </div>

  <%# experience images (left column) & map (right column) %>
  <div class="row">
    <div class="col">

      <div class="card-show d-flex">
        <div class="show-one">
          <%= cl_image_tag @experience.photos.first.key, height: 400, width: 300, crop: :fill %>
        </div>
        <div class="">
          <div class="show-two">
            <%= cl_image_tag @experience.photos.second.key, height: 198, width: 300, crop: :fill, gravity: :face %>
          </div>
          <div class="show-three">
            <%= cl_image_tag @experience.photos.last.key, height: 198, width: 300, crop: :fill, gravity: :face %>
          </div>
        </div>
      </div>

    </div>

    <%# review part %>
    <hr class='my-5'>
      <h3>Reviews</h3>
      <div class="container py-5">
        <div class="row">
          <div class="col-xs-4>
            <%= simple_form_for [@experience, @review] do |f| %>
              <%= f.input :name, label: "Your name:" %>
              <%= f.input :comment, label: "Enter comment:" %>
              <%= f.input :rating, collection: (1..5).to_a,label: "Your rating:" %>
              <%= f.submit "Submit review" %>
            <% end %>
          </div>
        </div>
      </div>

    <%# booking part %>
    <div class="col-4">
      <div class="experience-card-booking">
        <h5>Choose a date!</h5>
          <%= simple_form_for [@user, @experience, @booking] do |f| %>
          <div class="form-group">
            <%= f.input :date, as: :string, placeholder: 'May 7, 2021', required: false, input_html: {class: "datepicker"}, label: false %>
          </div>
          <div class="flex mt-3">
            <%= f.submit class: 'btn btn-flat' %>
          </div>
        <% end %>
                                
    <div class="col">
      <div>
        <%# Map %>
        <div id="map"
        style="width: 300; height: 400px;"
        data-marker="<%= @marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        <%# <div class="map" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=<%= @experience.location&zoom=13&scale=2&size=1000x1000&maptype=roadmap&markers=color:red%7C<%= @experience.location&key=AIzaSyBtaHK-BLhBg7TruJu8iKk_wETqZMJM-GY')"></div> %>
      </div>
    </div>
  </div>

  <div class="row">
    <%# page left side %>
    <div class="col-8">
      <div class="mt-4">
        <h4>What you'll encounter...</h4>
        <p><%= @experience.description %></p>
      </div>

      <%# booking %>
      <div class="col-4">
        <div class="card-booking mt-4">
          <div>
            <h5><i class="fas fa-euro-sign fa-lg mr-1"></i><%= @experience.price %> / person </h5>
          </div>
          <div class="mt-3">
            <i class="far fa-clock fa-lg mr-1"></i><span><%= @experience.duration %>h </span>
          </div>
          <h5 class="mt-3">Choose a date!</h5>
            <%= simple_form_for [@user, @experience, @booking] do |f| %>
            <div class="form-group">
              <%= f.input :date, as: :string, placeholder: 'May 7, 2021', required: false, input_html: {class: "datepicker"}, label: false %>
            </div>
            <p>Starts 20:00 </p>
            <div class="flex mt-3">
              <%= f.submit class: 'btn btn-flat' %>
            </div>
          <% end %>

          <%# host edit / delete %>
          <% if policy(@experience).edit? %>
            <div class='border-top mt-4'>
              <p class="mt-2">Host:</p>
              <%= link_to experience_path(@experience), method: :delete, data: { confirm: "Are you sure you want to remove #{@experience.title}"}, class: 'text-danger' do %>
                <i class="far fa-trash-alt ml-4 mr-4"></i>
              <% end %>
              <%= link_to edit_experience_path(@experience) do %>
                <i class="far fa-edit"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
  </div>

</div>
